

/* ===== Content ===== */
.content {
    margin-right: 230px; /* نفس عرض الـ sidebar */
    width: calc(100% - 230px);
    height: 100vh;
    overflow-y: auto; /* الاسكرول هنا */
    padding: 18px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* ===== Cards ===== */
.profile-card {
    background: #fff;
    border-radius: 14px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box {
    background: #f4f8fb;
    padding: 16px;
    border-radius: 10px;
}

/* ===== Responsive ===== */
@media (max-width: 992px) {
    body {
        overflow: auto;
    }

    .sidebar {
        position: relative;
        width: 100%;
        height: auto;
        flex-direction: row;
    }

    .content {
        margin-right: 0;
        width: 100%;
        height: auto;
        overflow: visible;
    }

    .menu {
        flex-direction: row;
        overflow-x: auto;
    }
}
