

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/SchoolManager/sidebar-layout.css" />

    <link rel="stylesheet" href="~/css/SchoolManager/schoolManagerProfile.css" />
</head>
<body>

    <div class="layout">

        <aside class="sidebar">
            <div class="profile">
                <img src="~/images/schoolManagerImage.jpg" class="manager-img">
                <h4>
                    <a asp-controller="SchoolManager"
                       asp-action="SchoolManagerProfile">
                        أحمد علي
                    </a>
                </h4>
            </div>

            <ul class="menu">
                <li><a asp-controller="SchoolManager" asp-action="Home">الصفحة الرئيسية</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Students">الطلاب</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Teachers">المعلمين</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Supervisors">المشرفين</a></li>
                <li><a asp-controller="SchoolManager" asp-action="SuccessFailure">النجاح والرسوب</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Attendance">الغياب والحضور</a></li>
                <li><a asp-controller="SchoolManager" asp-action="EditProfile">تعديل البيانات</a></li>
            </ul>

            <a asp-controller="Home"
               asp-action="About"
               class="logout">
                تسجيل الخروج
            </a>
        </aside>

        <main class="content">
            <div class="profile-card">

                <div class="profile-image">
                    <img src="~/images/schoolManagerImage.jpg" alt="Manager">
                </div>

                <div class="profile-info">
                    <div class="name-role">
                        <h2>أحمد علي</h2>
                        <span class="role">مدير المدرسة</span>
                    </div>

                    <div class="info-list">
                        <div class="info-item"><span>البريد الإلكتروني :</span><p>ahmed.manager@school.com</p></div>
                        <div class="info-item"><span>رقم الهاتف :</span><p>01098765432</p></div>
                        <div class="info-item"><span>المدرسة :</span><p>مدرسة الأوائل</p></div>
                        <div class="info-item"><span>تاريخ الانضمام :</span><p>01 / 09 / 2020</p></div>
                    </div>
                </div>

            </div>
        </main>

    </div>



</body>
</html>