
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["النجاح والرسوب"]</title>

    <link rel="stylesheet" href="~/css/SchoolManager/sidebar-layout.css" />

    <link rel="stylesheet" href="~/css/SchoolManager/successFailure.css" />
</head>
<body>

    <div class="layout">

        <aside class="sidebar">
            <div class="profile">
                <img src="~/images/schoolManagerImage.jpg" class="manager-img">
                <h4>
                    <a asp-controller="SchoolManager"
                       asp-action="SchoolManagerProfile">
                        أحمد علي
                    </a>
                </h4>
            </div>

            <ul class="menu">
                <li><a asp-controller="SchoolManager" asp-action="Home">الصفحة الرئيسية</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Students">الطلاب</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Teachers">المعلمين</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Supervisors">المشرفين</a></li>
                <li class="active"><a asp-controller="SchoolManager" asp-action="SuccessFailure">النجاح والرسوب</a></li>
                <li><a asp-controller="SchoolManager" asp-action="Attendance">الغياب والحضور</a></li>
                <li><a asp-controller="SchoolManager" asp-action="EditProfile">تعديل البيانات</a></li>
            </ul>


            <a asp-controller="Account" asp-action="Logout" class="logout">تسجيل الخروج</a>

        </aside>

        <main class="content">

            <div class="top-bar">
                <h2>النجاح و الرسوب</h2>

                <div class="filters">
                    <select id="stageSelect">
                        <option value="kg">رياض الأطفال</option>
                        <option value="primary" selected>المرحلة الابتدائية</option>
                        <option value="prep">المرحلة الإعدادية</option>
                        <option value="secondary">المرحلة الثانوية</option>
                    </select>

                    <select id="periodSelect">
                        <option value="month" selected>This Month</option>
                        <option value="year">This Year</option>
                    </select>
                </div>
            </div>

            <div class="chart-card">
                <canvas id="successChart"></canvas>
            </div>
        </main>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="@Url.Content("~/js/SchoolManager/successFailure.js")" defer></script>

</body>
</html>
