@{
    ViewData["Title"] = "تعديل البيانات";
}

<link rel="stylesheet" href="~/css/Supervisor/editProfile.css" />

<div class="layout">

    <!-- المحتوى -->
    <main class="content">
        <div class="box">

            <h3 class="title">تعديل كلمة المرور</h3>

            <form method="post">
                <div class="form-group">
                    <label>كلمة المرور الحالية</label>
                    <div class="password-field">
                        <input type="password" id="currentPassword" placeholder="ادخل كلمة المرور الحالية">
                        <span class="toggle" onclick="togglePassword('currentPassword', this)">
                            <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>كلمة المرور الجديدة</label>
                    <div class="password-field">
                        <input type="password" id="newPassword" placeholder="ادخل كلمة المرور الجديدة">
                        <span class="toggle" onclick="togglePassword('newPassword', this)">
                            <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>تأكيد كلمة المرور</label>
                    <div class="password-field">
                        <input type="password" id="confirmPassword" placeholder="اعد كتابة كلمة المرور الجديدة">
                        <span class="toggle" onclick="togglePassword('confirmPassword', this)">
                            <i class="fa-solid fa-eye-slash"></i>
                        </span>
                    </div>
                </div>

                <button type="submit" class="save-btn">حفظ التعديلات</button>
            </form>

        </div>
    </main>

    <!-- القائمة الجانبية -->
    <aside class="sidebar">

        <div class="admin">
            <img src="~/images/supervisorImage.jpg" />
            <h4>
                <a asp-controller="Supervisor" asp-action="SupervisorProfile">
                    أحمد علي
                </a>
            </h4>
        </div>

        <nav>
            <a asp-controller="Supervisor" asp-action="StudentPage">
                الطلاب
            </a>

            <a asp-controller="Supervisor" asp-action="TeachersPage">
                المعلمون
            </a>

            <a asp-controller="Supervisor" asp-action="StudentsTable">
                جدول الطلاب
            </a>

            <a asp-controller="Supervisor"
               asp-action="TeachersTable"
               >
                جدول المعلمين
            </a>

            <a asp-controller="Supervisor" asp-action="TeacherPerformance">
                أداء المعلم
            </a>

            <a asp-controller="Supervisor" asp-action="TeachersAbsence">
                الغياب للمعلمين
            </a>

            <a asp-controller="Supervisor" asp-action="StudentsAbsence">
                الغياب للطلاب
            </a>

            <a asp-controller="Supervisor" asp-action="Notes">
                الملاحظات
            </a>

            <a asp-controller="Supervisor" asp-action="EditProfile" class="active">
                تعديل البيانات
            </a>
        </nav>

        <button class="logout"
                onclick="location.href='@Url.Action("Index","Home")'">
            تسجيل الخروج
        </button>

    </aside>


</div>

@section Scripts {
    <script src="~/js/Supervisor/editProfile.js"></script>
}





