@{
    ViewData["Title"] = "الملاحظات";
}

<link rel="stylesheet" href="~/css/Supervisor/notes.css" />

<div class="layout">

    <!-- المحتوى -->
    <main class="content">
        <div class="box">

            <h3 class="table-title center">
                الملاحظات
            </h3>

            <!-- جدول الملاحظات -->
            <table class="notes-table">
                <thead>
                    <tr>
                        <th>اسم المعلم</th>
                        <th>اليوم</th>
                        <th>الملاحظة</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>محمد أحمد السيد</td>
                        <td>الأحد</td>
                        <td>صحصح شوية</td>
                    </tr>
                    <tr>
                        <td>فاطمة محمود حسن</td>
                        <td>الإثنين</td>
                        <td>مش نبطل اكل شوية ونشوف شغلنا</td>
                    </tr>
                    <tr>
                        <td>خالد السيد محمد</td>
                        <td>الثلاثاء</td>
                        <td>انا مينفعنيش الشغل ده</td>
                    </tr>
                    <tr>
                        <td>مازن محمد عبدالرحمن</td>
                        <td>الأربعاء</td>
                        <td>زي الفل استمر</td>
                    </tr>
                    <tr>
                        <td>روان محمد ياسر</td>
                        <td>الخميس</td>
                        <td>نشتغل بضمير</td>
                    </tr>
                </tbody>
            </table>

        </div>
    </main>

    <!-- القائمة الجانبية -->
    <aside class="sidebar">

        <div class="admin">
            <img src="~/images/supervisorImage.jpg" />
            <h4>
                <a asp-controller="Supervisor" asp-action="SupervisorProfile">
                    أحمد علي
                </a>
            </h4>
        </div>

        <nav>
            <a asp-controller="Supervisor" asp-action="StudentPage">
                الطلاب
            </a>

            <a asp-controller="Supervisor" asp-action="TeachersPage">
                المعلمون
            </a>

            <a asp-controller="Supervisor" asp-action="StudentsTable">
                جدول الطلاب
            </a>

            <a asp-controller="Supervisor"
               asp-action="TeachersTable"
               >
                جدول المعلمين
            </a>

            <a asp-controller="Supervisor" asp-action="TeacherPerformance">
                أداء المعلم
            </a>

            <a asp-controller="Supervisor" asp-action="TeachersAbsence">
                الغياب للمعلمين
            </a>

            <a asp-controller="Supervisor" asp-action="StudentsAbsence">
                الغياب للطلاب
            </a>

            <a asp-controller="Supervisor" asp-action="Notes" class="active">
                الملاحظات
            </a>

            <a asp-controller="Supervisor" asp-action="EditProfile">
                تعديل البيانات
            </a>
        </nav>

        <a asp-controller="Account" asp-action="Logout" class="logout">تسجيل الخروج</a>


    </aside>


</div>