@{
    ViewData["Title"] = "الغياب للمعلمين";
}

<link rel="stylesheet" href="~/css/Supervisor/teachersAbsence.css" />


<div class="layout">

    <!-- المحتوى الرئيسي -->
    <main class="content">
        <div class="box">

            <h3 class="title">@ViewData["Title"]</h3>

            <form method="post" asp-action="SaveTeachersAbsence">
                <table>
                    <thead>
                        <tr>
                            <th>اسم المعلم / المعلمة</th>
                            <th>حاضر</th>
                            <th>غائب</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>أحمد علي</td>
                            <td><input type="checkbox" name="AhmedAliIsPresent" /></td>
                            <td><input type="checkbox" name="AhmedAliIsAbsent" /></td>
                        </tr>
                        <tr>
                            <td>منى محمود</td>
                            <td><input type="checkbox" name="MonaMahmoudIsPresent" /></td>
                            <td><input type="checkbox" name="MonaMahmoudIsAbsent" /></td>
                        </tr>
                        <tr>
                            <td>خالد حسن</td>
                            <td><input type="checkbox" name="KhaledHassanIsPresent" /></td>
                            <td><input type="checkbox" name="KhaledHassanIsAbsent" /></td>
                        </tr>
                        <tr>
                            <td>سارة محمد</td>
                            <td><input type="checkbox" name="SaraMohamedIsPresent" /></td>
                            <td><input type="checkbox" name="SaraMohamedIsAbsent" /></td>
                        </tr>
                        <tr>
                            <td>محمود عبد الرحمن</td>
                            <td><input type="checkbox" name="MahmoudAbdelRahmanIsPresent" /></td>
                            <td><input type="checkbox" name="MahmoudAbdelRahmanIsAbsent" /></td>
                        </tr>
                    </tbody>
                </table>

            </form>
            <button class="btn">حفظ</button>
        </div>
    </main>

    <!-- القائمة الجانبية -->
    <aside class="sidebar">

        <div class="admin">
            <img src="~/images/supervisorImage.jpg" />
            <h4>
                <a asp-controller="Supervisor" asp-action="SupervisorProfile">
                    أحمد علي
                </a>
            </h4>
        </div>

        <nav>
            <a asp-controller="Supervisor" asp-action="StudentPage">الطلاب</a>
            <a asp-controller="Supervisor" asp-action="TeachersPage">المعلمون</a>
            <a asp-controller="Supervisor" asp-action="StudentsTable">جدول الطلاب</a>
            <a asp-controller="Supervisor" asp-action="TeachersTable">جدول المعلمين</a>
            <a asp-controller="Supervisor" asp-action="TeacherPerformance">أداء المعلم</a>
            <a asp-controller="Supervisor" asp-action="TeachersAbsence" class="active">الغياب للمعلمين</a>
            <a asp-controller="Supervisor" asp-action="StudentsAbsence">الغياب للطلاب</a>
            <a asp-controller="Supervisor" asp-action="Notes">الملاحظات</a>
            <a asp-controller="Supervisor" asp-action="EditProfile">تعديل البيانات</a>
        </nav>

        <button class="logout"
                onclick="location.href='@Url.Action("Index","Home")'">
            تسجيل الخروج
        </button>

    </aside>

</div>
