@{
    ViewData["Title"] = "أداء المعلم";
}

    <link rel="stylesheet" href="~/css/Supervisor/teacherPerformance.css" />


<div class="layout">

    <!-- المحتوى -->
    <main class="content">
        <div class="box">

            <div class="selectors single">
                <label>اختيار اسم المعلم :</label>
                <select>
                    <option>محمد أحمد السيد</option>
                    <option>فاطمة محمود حسن</option>
                    <option>خالد السيد محمد</option>
                    <option>مازن محمد عبدالرحمن</option>
                    <option>روان محمد ياسر</option>
                </select>
            </div>

            <h3 class="table-title">أداء المعلم :</h3>

            <div class="performance-box">

                <div class="overall">
                    التقييم العام :
                    <span class="rate good">جيد جدًا</span>
                </div>

                <div class="bars">

                    <div class="bar-item">
                        <span>الالتزام</span>
                        <div class="bar">
                            <div class="fill" style="height:85%"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <span>التفاعل</span>
                        <div class="bar">
                            <div class="fill" style="height:70%"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <span>الشرح</span>
                        <div class="bar">
                            <div class="fill" style="height:90%"></div>
                        </div>
                    </div>

                    <div class="bar-item">
                        <span>الانضباط</span>
                        <div class="bar">
                            <div class="fill" style="height:75%"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </main>

    <!-- القائمة الجانبية -->
    <aside class="sidebar">

        <div class="admin">
            <img src="~/images/supervisorImage.jpg" />
            <h4>
                <a asp-controller="Supervisor" asp-action="SupervisorProfile">
                    أحمد علي
                </a>
            </h4>
        </div>

        <nav>
            <a asp-controller="Supervisor" asp-action="StudentPage">الطلاب</a>
            <a asp-controller="Supervisor" asp-action="TeachersPage">المعلمون</a>
            <a asp-controller="Supervisor" asp-action="StudentsTable">جدول الطلاب</a>
            <a asp-controller="Supervisor" asp-action="TeachersTable">جدول المعلمين</a>
            <a asp-controller="Supervisor" asp-action="TeacherPerformance" class="active">أداء المعلم</a>
            <a asp-controller="Supervisor" asp-action="TeachersAbsence">الغياب للمعلمين</a>
            <a asp-controller="Supervisor" asp-action="StudentsAbsence">الغياب للطلاب</a>
            <a asp-controller="Supervisor" asp-action="Notes">الملاحظات</a>
            <a asp-controller="Supervisor" asp-action="EditProfile">تعديل البيانات</a>
        </nav>

        <a asp-controller="Account" asp-action="Logout" class="logout">تسجيل الخروج</a>


    </aside>

</div>
